.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-div {
  font: inherit;
}

.App-header-div-logo {
  float: left;
}

.App-header-div-title {
  float: left;
}

.App-header-div-title h1 {
  margin: 0px;
  vertical-align: middle;
}

.App-link {
  color: #61dafb;
}

section.AppSection {
  margin: 0px 20px 20px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.theHelp {
  float: left;
}

div.theAbout {
  float: right;
}

div.pharma-person {
  text-align: justify;
  padding-left: 1em;
}

.pharma-control-title{
  font-weight: bold;
}

.pharma-btn {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 0.2em 0.4em;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  filter: saturate(0.70);
  margin-left: 3px;
  margin-bottom: 3px;
}

.pharma-btn:hover,
.pharma-btn:focus {
    /*background: #0053ba;
    color: white;*/
    filter: saturate(0.90);
}

.pharma-btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.pharma-btn:active {
  transform: scale(0.99);
  filter: saturate(0.99);
}

.pharma-btn-add {
  background-color: violet;
  color: black;
}

.pharma-btn-edit {
  background-color: aqua;
  color: black;
}

.pharma-btn-help {
  background-color: magenta;
  color: black;
}

.pharma-btn-about {
  background-color: cyan;
  color: black;
}

.pharma-btn-update {
  background-color: greenyellow;
  color: black;
}

.pharma-btn-cancel {
  background-color: orange;
  color: black;
}

.pharma-btn-delete {
  background-color: coral;
  color: black;
}

.pharma-btn-restock {
  background-color: yellow;
  color: black;
}

.pharma-person {
  padding-bottom: 20px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-radius: 0px 20px 20px 0px;
}

.pharma-person-medicine {
  border: solid 2px white;
  background-color: #ffffff88;
  border-radius: 15px 0px 0px 15px;
  margin-left: 20px;
  margin-bottom: 3px;
  padding-left: 10px;
}

.theHelpDiv {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  border: 3px solid magenta;
}

.theAboutDiv {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  border: 3px solid cyan;
}

.pharma-person-medicine-edit {
  float: right;
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}

.pharma-person-control {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

.pharma-medicine-control {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

.pharma-person-add {
  background-color: white;
  border: 3px solid green;
}

.pharma-person-edit {
  background-color: white;
  border: 3px solid blue;
}

.pharma-person-delete {
  background-color: white;
  border: 3px solid red;
}

.pharma-medicine-add {
  background-color: white;
  border: 3px solid green;
}

.pharma-medicine-edit {
  background-color: white;
  border: 3px solid blue;
}

.pharma-medicine-restock {
  background-color: white;
  border: 3px solid yellow;
}

.pharma-medicine-delete {
  background-color: white;
  border: 3px solid red;
}

p.pharma-delete-person-para {
  float: right;
  margin-right: 20px;
}

table.pharma-edit-layout {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.pharma-edit-layout-label {
  text-align: right;
  font-weight: bold;
}

td.pharma-edit-layout-control {
  text-align: left;
}

td.pharma-edit-layout-error {
  text-align: left;
  font-weight: bold;
  color: red;
}

.App-footer {
  background-color: silver;
  min-height: 3vh;
  max-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: black;
  font-style: italic;
}

.App-footer-version{
  display:inline;
  margin: 0px 5px 0px 5px;
}

.App-footer-copyright{
  display:inline;
  margin: 0px 5px 0px 5px;
}